<?xml version="1.0" ?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="1.21.1-neoforge"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.neoforged.devlaunch.Main"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" &quot;@C:\\Users\\Soleil Fenley\\Dev\\Tide-2\\versions\\1.21.1-neoforge\\build\\moddev\\dataRunProgramArgs.txt&quot;"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value=" &quot;@C:\\Users\\Soleil Fenley\\Dev\\Tide-2\\versions\\1.21.1-neoforge\\build\\moddev\\dataRunVmArgs.txt&quot; &quot;-Dfml.modFolders=mod%%C:\\Users\\Soleil Fenley\\Dev\\Tide-2\\versions\\1.21.1-neoforge\\bin\\main&quot;"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Soleil Fenley\Dev\Tide-2\versions\1.21.1-neoforge\run"></stringAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="false"></booleanAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"></booleanAttribute>
</launchConfiguration>